{% extends 'base.html' %} {% block content %}
<div class="container d-flex flex-row">
  <header>{% include 'sidebar.html'%}</header>
  <main class="container">
    <div class="w-75">
      <div class="d-flex text-start my-3">
        <a href="/" class="text-decoration-none">
          <i
            style="-webkit-text-stroke: 1px"
            class="bi bi-arrow-left fw-bold text-dark fs-4"
          ></i>
        </a>
        <p class="text-dark fw-bold fs-4 ms-5">Post</p>
      </div>
      <div id="posts"></div>
    </div>
  </main>
</div>
<!-- Your scripts here -->
<script>
  async function getCommentsById(post_id) {
    return fetch(`/get-comment/${post_id}`).then((res) => res.json());
  }
  async function getUserById(user_id) {
    return fetch(`/get-user/${user_id}`).then((res) => res.json());
  }
  async function getPostById(post_id) {
    return fetch(`/get-post/${post_id}`).then((res) => res.json());
  }
  function calculateTime(now, dateAdded) {
    let diffInMilliseconds = now - dateAdded;
    let diffInSeconds = diffInMilliseconds / 1000;
    let diffInMinutes = diffInSeconds / 60;
    let diffInHours = diffInMinutes / 60;
    let diffInDays = diffInHours / 24;

    let timeDifference;
    if (diffInSeconds < 60) {
      timeDifference = Math.round(diffInSeconds) + " s";
    } else if (diffInMinutes < 60) {
      timeDifference = Math.round(diffInMinutes) + " m";
    } else if (diffInHours < 24) {
      timeDifference = Math.round(diffInHours) + " h";
    } else {
      timeDifference = Math.round(diffInDays) + " d";
    }
    return timeDifference;
  }
  async function refreshPosts() {
    const user_id = "{{ user_id }}";
    const post_id = "{{ post_id }}";
    const post = await getPostById(post_id);
    const htmlStrings = [];
    const comments = await getCommentsById(post[0].pk);
    let user = await getUserById(post[0].fields.user);
    let dateAdded = new Date(post[0].fields.date_added); // asumsikan ini adalah tanggal saat post ditambahkan
    let now = new Date(); // waktu saat ini
    console.log(dateAdded);

    let timeDifference = calculateTime(now, dateAdded);
    let htmlString = `
                    <div class="card mb-3 shadow-sm bg-light">
                      <div class="card-body">
                          <div class="d-flex justify-content-between">
                                <h4 class="text-dark fw-bold">${user[0].fields.username} <span class="fw-normal fs-6" style="color: gray"> · ${timeDifference}</span></h4>`;
    if (post[0].fields.user == user_id) {
      htmlString += `<button type="submit" onclick="deletePost(${post.pk}); return false;" class="btn btn-danger"><i class="bi bi-trash-fill"></i> Delete Post</button>`;
    }
    htmlString += `</div>
                            <h5 class="card-title">${post[0].fields.title}</h5>
                            <p class="card-text">${post[0].fields.text}</p>`;
    if (post[0].fields.image) {
      htmlString += `<img src="/media/${post[0].fields.image}" class="card-img-top w-50 h-50 img-fluid rounded" alt="${post[0].fields.title}">`;
    }
    htmlString += `</div></div>
                            <form id="form-comment" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="position-relative">
                                    <textarea class="form-control border-0" placeholder="Post your reply" id="content" name="content" rows="3"></textarea>
                                    <button id="button_add_comment" type="submit" onclick="addComment(${post[0].pk}); return false;" class="btn btn-primary mt-2 fw-bold position-absolute end-0 bottom-0 mb-2 me-2">Reply</button>
                                </div>

                            </form>
                            `;
    if (comments) {
      comments.sort(
        (a, b) => new Date(b.fields.date_added) - new Date(a.fields.date_added)
      );
      for (const comment of comments) {
        let dateAdded = new Date(comment.fields.date_added); // asumsikan ini adalah tanggal saat post ditambahkan
        let now = new Date(); // waktu saat ini
        timeDifference = calculateTime(now, dateAdded);
        htmlString += `
                                        <div class="card mt-3 ml-5 bg-light shadow">
                                          <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                              <h4 class="text-dark fw-bold">${user[0].fields.username} <span class="fw-normal fs-6" style="color: gray"> · ${timeDifference}</span></h4>`;
        if (comment.fields.user == user_id) {
          htmlString += ` <button type="submit" onclick="deleteComment(${comment.pk}); return false;" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>`;
        }
        htmlString += `</div>
                          <p class="card-text">${comment.fields.text}</p>
                          </div>
                      </div>`;
      }
    }
    htmlStrings.push(htmlString);

    document.getElementById("posts").innerHTML = htmlStrings.join("");
  }
  refreshPosts();

  function addPost() {
    fetch("{% url 'forum:create_post' %}", {
      method: "POST",
      body: new FormData(document.querySelector("#form-post")),
    }).then(refreshPosts);

    document.getElementById("form-post").reset();
    return false;
  }
  function addComment(post_id) {
    fetch(`create-comment/${post_id}/`, {
      method: "POST",
      body: new FormData(document.querySelector("#form-comment")),
    }).then(refreshPosts);

    document.getElementById("form-comment").reset();
    return false;
  }

  function deletePost(post_id) {
    fetch(`delete-post/${post_id}`, {
      method: "DELETE",
    }).then(refreshPosts);
    return false;
  }

  function deleteComment(comment) {
    console.log("deleteComment");
    fetch(`delete-comment/${comment}`, {
      method: "DELETE",
    }).then(refreshPosts);
    return false;
  }
  document.getElementById("button_add").onclick = addPost;
</script>
{% endblock content %}
