{% extends 'base.html' %} {% block content %}
<div class="container d-flex flex-row">
  <main class="container">
    <div class="w-75">
      <div class="d-flex text-start my-3">
        <a
          style="cursor: pointer"
          onclick="window.history.back();"
          class="text-decoration-none"
        >
          <i
            style="-webkit-text-stroke: 1px"
            class="bi bi-arrow-left fw-bold text-dark fs-4"
          ></i>
        </a>
        <p class="text-dark fw-bold fs-4 ms-5">Post</p>
      </div>
      <div id="posts"></div>
    </div>
  </main>
</div>
<!-- Your scripts here -->
<script>
  async function getCommentsById(post_id) {
    return fetch(`/forum/get-comment/${post_id}/`).then((res) => res.json());
  }
  async function getUserById(user_id) {
    return fetch(`/forum/get-user/${user_id}/`).then((res) => res.json());
  }
  async function getPostById(post_id) {
    return fetch(`/forum/get-post/${post_id}/`).then((res) => res.json());
  }
  async function getBookById(book_id) {
    return fetch(`/api/books/${book_id}`).then((res) => res.json());
  }
  function calculateTime(now, dateAdded) {
    let diffInMilliseconds = now - dateAdded;
    let diffInSeconds = diffInMilliseconds / 1000;
    let diffInMinutes = diffInSeconds / 60;
    let diffInHours = diffInMinutes / 60;
    let diffInDays = diffInHours / 24;

    let timeDifference;
    if (diffInSeconds < 60) {
      timeDifference = Math.round(diffInSeconds) + " s";
    } else if (diffInMinutes < 60) {
      timeDifference = Math.round(diffInMinutes) + " m";
    } else if (diffInHours < 24) {
      timeDifference = Math.round(diffInHours) + " h";
    } else {
      timeDifference = Math.round(diffInDays) + " d";
    }
    return timeDifference;
  }
  async function refreshPosts() {
    const user_id = "{{ user_id }}";
    const post_id = "{{ post_id }}";
    const post = await getPostById(post_id);
    let book = null;
    if (post[0].fields.book) {
      book = await getBookById(post[0].fields.book);
    }
    const htmlStrings = [];
    const comments = await getCommentsById(post[0].pk);
    let user = await getUserById(post[0].fields.user);
    let dateAdded = new Date(post[0].fields.date_added); // asumsikan ini adalah tanggal saat post ditambahkan
    let now = new Date(); // waktu saat ini

    let timeDifference = calculateTime(now, dateAdded);
    let htmlString = `
                    <div class="card mb-3 shadow-sm bg-light">
                      <div class="card-body">
                          <div class="d-flex justify-content-between">
                                <h4 class="text-dark fw-bold">${user[0].fields.username} <span class="fw-normal fs-6" style="color: gray"> · ${timeDifference}</span></h4>`;
    if (post[0].fields.user == user_id) {
      htmlString += `<div class="btn-group">
          <button class="btn btn-sm border-0 top-0 m-0" style="width:auto; height:auto" type="button" data-bs-toggle="dropdown" aria-expanded="false" onclick="event.stopPropagation();"">
            <i class="bi bi-three-dots"></i>
          </button>
          <ul class="dropdown-menu rounded p-0 my-0 shadow bg-light" style="width:auto">
            <li class="px-0 mx-0 fs-6">
              <h4 type="button" class="btn text-dark border-0 fs-6 w-100 m-0 text-start" data-bs-toggle="modal" data-bs-target="#deleteModal${post[0].pk}" onclick="event.stopPropagation();"><i class="bi bi-trash-fill text-dark"></i> Delete</h4>  
            </li>
            <li class="p-0 m-0 fs-6">
              <h4 type="button" class="btn text-dark border-0 fs-6 w-100 m-0 text-start" data-bs-toggle="modal" data-bs-target="#editModal${post[0].pk}" onclick="event.stopPropagation();"><i class="bi bi-pencil-fill text-dark"></i> Edit</h4>    
            </li>
          </ul>
        </div>`;
    }
    htmlString += `</div>
              <h2 class="card-title m-0">${post[0].fields.title}</h2>
                <h4 class="card-text">${post[0].fields.text}</h4>`;
    if (post[0].fields.book) {
      htmlString += `<div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">${book.title}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">${book.authors[0].name}</h6>
                  </div>
                </div>
                `;
    }
    if (post[0].fields.image) {
      htmlString += `<img src="/media/${post[0].fields.image}" class="card-img-top w-50 h-50 img-fluid rounded" alt="${post[0].fields.title}">`;
    }
    htmlString += `
    
    <div class="modal fade" id="editModal${post[0].pk}" tabindex="-1" aria-labelledby="editModalLabel${post[0].pk}" aria-hidden="true">
                                  <div class="modal-dialog">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                              <h1 class="modal-title fs-5" id="deleteModalLabel${post[0].pk}">Edit Post</h1>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                          </div>
                                          <div class="modal-body">
                                              <form id="form-post-edit" onsubmit="return false;" method="POST" enctype="multipart/form-data">
                                                  {% csrf_token %}
                                                  <div class="mb-3">
                                                      <label for="title-edit" class="col-form-label">Title:</label>
                                                      <input type="text" class="form-control" id="title-edit" name="title-edit" value="${post[0].fields.title}"></input>
                                                  </div>
                                                  <div class="mb-3">
                                                      <label for="description-edit" class="col-form-label">Description:</label>
                                                      <textarea class="form-control" id="description-edit" name="description-edit">${post[0].fields.text}</textarea>
                                                  </div>
                                                  <div class="mb-3">
                                                      <label for="image-edit" class="col-form-label">Image:</label><br>
                                                      <input type="file" class="custom-file-input" id="image-edit" name="image-edit" aria-describedby="inputGroupFileAddon01"/>
                                                  </div>
                                              </form>
                                          </div>
                                          <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary rounded" data-bs-dismiss="modal">Close</button>
                                              <button type="button" class="btn btn-primary rounded" id="button_add" data-bs-dismiss="modal" onclick="editPost(${post[0].pk}); return false;">Edit Post</button>
                                          </div>
                                      </div>
                                  </div>
                              </div>
    </div>
    
    
    </div>
                            <form id="form-comment" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="position-relative">
                                    <textarea class="form-control border-0" placeholder="Post your reply" id="content" name="content" rows="3"></textarea>
                                    <button id="button_add_comment" type="submit" onclick="addComment(${post[0].pk}); return false;" class="btn btn-primary mt-2 fw-bold position-absolute end-0 bottom-0 mb-2 me-2 rounded-2">Reply</button>
                                </div>

                            </form>
                            <div class="modal fade" id="deleteModal${post[0].pk}" tabindex="-1" aria-labelledby="deleteModalLabel${post[0].pk}" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h5 class="modal-title" id="deleteModalLabel${post[0].pk}">Konfirmasi Hapus Post</h5>
                                          <button type="button" class="btn-close rounded" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body">
                                          Apakah Anda yakin ingin menghapus post ini?
                                      </div>
                                      <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary rounded" data-bs-dismiss="modal">Batal</button>
                                          <button type="button" class="btn btn-primary rounded" onclick="deletePost(${post[0].pk}); return false;">Hapus</button>
                                      </div>
                                  </div>
                              </div>
                              </div>`;
    if (comments) {
      comments.sort(
        (a, b) => new Date(b.fields.date_added) - new Date(a.fields.date_added)
      );
      console.log(comments);
      for (const comment of comments) {
        let dateAdded = new Date(comment.fields.date_added); // asumsikan ini adalah tanggal saat post ditambahkan
        let now = new Date(); // waktu saat ini
        timeDifference = calculateTime(now, dateAdded);
        htmlString += `
                      <div class="card mt-3 ml-5 bg-light shadow">
                        <div class="card-body">
                          <div class="d-flex justify-content-between">
                            <h4 class="text-dark fw-bold">${user[0].fields.username} <span class="fw-normal fs-6" style="color: gray"> · ${timeDifference}</span></h4>`;
        if (comment.fields.user == user_id) {
          htmlString += ` 
          <div class="btn-group">
          <button class="btn btn-sm border-0 top-0 m-0" style="width:auto; height:auto" type="button" data-bs-toggle="dropdown" aria-expanded="false" onclick="event.stopPropagation();"">
            <i class="bi bi-three-dots"></i>
          </button>
          <ul class="dropdown-menu rounded p-0 my-0 shadow bg-light" style="width:auto">
            <li class="px-0 mx-0 fs-6">
              <h4 type="button" class="btn text-dark border-0 fs-6 w-100 m-0 text-start" data-bs-toggle="modal" data-bs-target="#deleteModal${comment.pk}" onclick="event.stopPropagation();"><i class="bi bi-trash-fill text-dark"></i> Delete</h4>  
            </li>
            <li class="p-0 m-0 fs-6">
              <h4 type="button" class="btn text-dark border-0 fs-6 w-100 m-0 text-start" data-bs-toggle="modal" data-bs-target="#editModal${comment.pk}" onclick="event.stopPropagation();"><i class="bi bi-pencil-fill text-dark"></i> Edit</h4>    
            </li>
          </ul>
        </div>`;
        }
        htmlString += `</div>
                          <p class="card-text">${comment.fields.text}</p>
                        </div>
                        <div class="modal fade" id="deleteModal${comment.pk}" tabindex="-1" aria-labelledby="deleteModalLabel${comment.pk}" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel${comment.pk}">Delete Comment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Apakah Anda yakin ingin menghapus post ini?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary rounded" data-bs-dismiss="modal">Batal</button>
                <button type="button" class="btn btn-primary rounded" onclick="deleteComment(${comment.pk}); return false;" data-bs-dismiss="modal">Hapus</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="editModal${comment.pk}" tabindex="-1" aria-labelledby="editModalLabel${comment.pk}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteModalLabel${comment.pk}">Edit Comment</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="form-comment-edit" onsubmit="return false;" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="descriptionc-comment-edit" class="col-form-label">Description:</label>
                                <textarea class="form-control" id="description-comment-edit" name="description-comment-edit">${comment.fields.text}</textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary rounded" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary rounded" id="button_add" data-bs-dismiss="modal" onclick="editComment(${comment.pk}); return false;">Edit Post</button>
                    </div>
                </div>
            </div>
        </div>
                      </div>`;
      }
    }
    htmlStrings.push(htmlString);

    document.getElementById("posts").innerHTML = htmlStrings.join("");
  }
  refreshPosts();

  function addPost() {
    fetch("{% url 'forum:create_post' %}", {
      method: "POST",
      body: new FormData(document.querySelector("#form-post")),
    }).then(refreshPosts);

    document.getElementById("form-post").reset();
    return false;
  }
  function addComment(post_id) {
    fetch(`/forum/create-comment/${post_id}/`, {
      method: "POST",
      body: new FormData(document.querySelector("#form-comment")),
    }).then(refreshPosts);

    document.getElementById("form-comment").reset();
    return false;
  }

  function editPost(post_id) {
    const csrfToken = document.querySelector(
      'input[name="csrfmiddlewaretoken"]'
    ).value;

    // Construct the headers including the CSRF token
    const headers = new Headers({
      "X-CSRFToken": csrfToken, // Include the CSRF token here
    });
    fetch(`/forum/edit-post/${post_id}/`, {
      method: "POST",
      body: new FormData(document.querySelector("#form-post-edit")),
      headers: headers,
    }).then(refreshPosts);

    document.getElementById("form-post-edit").reset();
    return false;
  }

  function editComment(post_id) {
    const csrfToken = document.querySelector(
      'input[name="csrfmiddlewaretoken"]'
    ).value;

    // Construct the headers including the CSRF token
    const headers = new Headers({
      "X-CSRFToken": csrfToken, // Include the CSRF token here
    });
    fetch(`/forum/edit-comment/${post_id}/`, {
      method: "POST",
      body: new FormData(document.querySelector("#form-comment-edit")),
      headers: headers,
    }).then(refreshPosts);

    document.getElementById("form-comment-edit").reset();
    return false;
  }
  function deletePost(post_id) {
    fetch(`/forum/delete-post/${post_id}/`, {
      method: "DELETE",
    })
      .then(() => (window.location.href = "/forum"))
      .then(refreshPosts);
    return false;
  }

  function deleteComment(comment) {
    fetch(`/forum/delete-comment/${comment}/`, {
      method: "DELETE",
    }).then(refreshPosts);
    return false;
  }
  document.getElementById("button_add").onclick = addPost;
</script>
{% endblock content %}
