{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/forum.css" />
{% endblock %} {% block content %}
<div class="container d-flex flex-row">
  <main class="container">
    <div id="sub-container">
      <h1 id="page-title" class="fw-bold">Home</h1>
      <hr class="m-0 shadow" />
      {% if authenticated %}
      <form
        class="p-1"
        id="form-post"
        method="POST"
        enctype="multipart/form-data"
      >
        {% csrf_token %} {{ formP }}
        <div class="position-relative">
          <div class="position-absolute bottom-0 start-0 p-2 ps-3">
            <label
              for="{{ form.book.id_for_label }}"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              <i class="bi bi-book-half fs-4" id="upload-button"></i>
            </label>
          </div>
          <div class="position-absolute end-0 bottom-0 p-2">
            <div class="d-flex justify-content-end">
              <button
                type="submit"
                id="button_add"
                class="mt-2 btn btn-primary py-0 rounded-4 fw-bold"
              >
                Post
              </button>
            </div>
          </div>
        </div>
        <div class="d-flex container" id="upload-status">
          <div id="upload-status-book"></div>
        </div>
      </form>
      {% endif %}
      <div id="cat-container">
        <div class="dropdown mb-2 me-2">
          <button
            class="btn btn-primary dropdown-toggle rounded"
            type="button"
            data-bs-toggle="dropdown"
            data-bs-display="static"
          >
            Categories <span class="caret"></span>
          </button>
          <ul class="dropdown-menu p-1 rounded shadow-sm" id="categories-list">
            <input
              class="form-control mb-0"
              id="my-input"
              type="text"
              placeholder="Search.."
            />
          </ul>
        </div>
        <div id="category-selected" class="mb-1"></div>
      </div>
      <hr class="m-0 shadow" />
      <div id="posts"></div>
      <div
        class="modal fade"
        id="deleteModal"
        tabindex="-1"
        aria-labelledby="deleteModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Delete Post</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete this post?
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary rounded"
                data-bs-dismiss="modal"
              >
                Cancel
              </button>
              <button
                id="btn-delete"
                type="button"
                class="btn btn-primary rounded"
                data-bs-dismiss="modal"
                onclick=""
              >
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
      <div
        class="modal fade"
        id="editModal"
        tabindex="-1"
        aria-labelledby="editModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="deleteModalLabel">Edit Post</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form
                id="form-post-edit"
                onsubmit="return false;"
                method="POST"
                enctype="multipart/form-data"
              >
                {% csrf_token %}
                <div class="mb-3">
                  <label for="title-edit" class="col-form-label">Title:</label>
                  {{ formPE.title }}
                </div>
                <div class="mb-3">
                  <label for="description-edit" class="col-form-label"
                    >Description:</label
                  >
                  {{ formPE.text}}
                </div>
                {{formPE.book}}
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary rounded"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="submit"
                class="btn btn-primary rounded"
                id="btn-edit"
                data-bs-dismiss="modal"
              >
                Edit Post
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Pilih Buku</h5>
            <button
              type="button"
              class="btn-close btn-secondary"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div id="book-list">
              <div>
                <div class="form-outline book-list w-100 d-flex">
                  <input
                    type="search"
                    id="form1"
                    class="form-control-dropdown w-100"
                    placeholder="Cari Buku Disini"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary rounded"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              id="add-buku"
              type="button"
              class="btn btn-primary rounded"
              data-bs-dismiss="modal"
            >
              Pilih Buku
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<p id="user-id" class="d-none">{{user_id}}</p>
<!-- Your scripts here -->
{% block scripts %}
<script src="/static/js/forum.js"></script>
{% endblock %} {% endblock content %}
