{% extends 'base.html' %} {% block content %}
<div class="container d-flex flex-row">
  <main class="container">
    <div class="w-100 md-mw-75">
      <h1 class="fw-bold">Home</h1>
      <form
        class="p-1"
        id="form-post"
        method="POST"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <input
          type="text"
          class="form-control border-0 my-2"
          id="title"
          name="title"
          placeholder="Type Your Title Here"
        />
        <div class="position-relative">
          <textarea
            class="form-control border-0 my-2"
            id="content"
            name="content"
            rows="3"
            placeholder="What's Happening?"
            style="height: 150px"
          ></textarea>
          <div class="position-absolute bottom-0 p-2 ps-5">
            <label
              for="book"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              <i
                class="bi bi-book-half fs-4"
                id="upload-button"
                style="cursor: pointer; color: gray"
              ></i>
            </label>
            <input type="hidden" id="book" name="book" class="d-none" />
          </div>
          <div class="position-absolute bottom-0 start-0 p-2 ps-3">
            <label for="image">
              <i
                class="bi-card-image fs-4"
                id="upload-button"
                style="cursor: pointer; color: gray"
              ></i>
            </label>
            <input
              type="file"
              class="custom-file-input d-none"
              id="image"
              name="image"
              aria-describedby="inputGroupFileAddon01"
            />
          </div>
          <div class="position-absolute end-0 bottom-0 p-2">
            <div class="d-flex justify-content-end">
              <button
                id="button_add"
                class="mt-2 btn btn-primary rounded fw-bold"
              >
                Post
              </button>
            </div>
          </div>
        </div>
        <div class="d-flex container" id="upload-status">
          <div id="upload-status-book"></div>
          <div id="upload-image"></div>
        </div>
      </form>
      <div class="d-flex align-items-center">
        <div class="dropdown mb-2 me-2">
          <button
            class="btn btn-primary dropdown-toggle rounded"
            type="button"
            data-bs-toggle="dropdown"
            data-bs-display="static"
          >
            Categories <span class="caret"></span>
          </button>
          <ul
            class="dropdown-menu p-1 rounded shadow-sm"
            id="categories-list"
            style="max-height: 150px; overflow-y: auto"
          >
            <input
              class="form-control mb-0"
              id="myInput"
              type="text"
              placeholder="Search.."
              style="background: #f1f1f1"
            />
          </ul>
        </div>
        <div id="category-selected"></div>
      </div>
      <div id="posts"></div>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Pilih Buku</h5>
            <button
              type="button"
              class="btn-close btn-secondary"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="input-group mb-3">
              <select class="form-select" id="inputGroupSelect01"></select>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary rounded"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              id="add-buku"
              type="button"
              class="btn btn-primary rounded"
              data-bs-dismiss="modal"
            >
              Pilih Buku
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<!-- Your scripts here -->
<script>
  async function getPosts() {
    return fetch("{% url 'forum:get_post' %}").then((res) => res.json());
  }
  async function getCommentsByPostId(post_id) {
    return fetch(`/forum/get-comment/${post_id}/`).then((res) => res.json());
  }
  async function getUserById(user_id) {
    return fetch(`/forum/get-user/${user_id}/`).then((res) => res.json());
  }
  async function getBooks() {
    return fetch("/api/books").then((res) => res.json());
  }
  async function getBookById(book_id) {
    return fetch(`/api/books/${book_id}`).then((res) => res.json());
  }
  async function getCategories() {
    return fetch("/api/categories").then((res) => res.json());
  }
  async function listBooks() {
    const books = await getBooks();
    const htmlStrings = [];
    for (const book of books) {
      const htmlString = `<option value="${book.id}">${book.title}</option>`;
      htmlStrings.push(htmlString);
    }
    document.getElementById("inputGroupSelect01").innerHTML =
      htmlStrings.join("");
  }

  async function listCategories() {
    const categories = await getCategories();
    const htmlStrings = [];
    for (const categori of categories) {
      const htmlString = `
      <hr class="m-0"/>
      <li class="px-2 pt-1"><h4 style="cursor:pointer" onclick="changeUrlAndRefreshPosts('${categori.name}')">${categori.name}</h4></li>
      `;
      htmlStrings.push(htmlString);
    }
    document.getElementById("categories-list").innerHTML +=
      htmlStrings.join("");
    var input = document.querySelector("#myInput");
    input.addEventListener("keyup", function () {
      var value = this.value.toLowerCase();
      var items = document.querySelectorAll(".dropdown-menu li");
      items.forEach(function (item) {
        if (item.textContent.toLowerCase().indexOf(value) > -1) {
          item.style.display = "";
        } else {
          item.style.display = "none";
        }
      });
    });
  }

  function changeUrlAndRefreshPosts(name) {
    // Membuat objek URLSearchParams baru
    let params = new URLSearchParams();

    // Menambahkan parameter ke objek
    params.append("category", name);

    // Mengubah URL tanpa memuat ulang halaman
    history.pushState(null, "", `/forum/?${params.toString()}`);

    addCategoryToPage(name);

    refreshPosts();
  }

  function addCategoryToPage(name) {
    document.getElementById(
      "category-selected"
    ).innerHTML = `<div class="card px-1 circular-rounded" style="max-height:50px">
          <div class="card-body d-flex p-1 justify-content-center">
            <p class="mb-0 fs-6" style="color: gray">${name}</p>   
            <a id="cancel-select" class="" style="color:gray; -webkit-text-stroke: 2px; cursor:pointer"><i class="bi bi-x"></i></a>    
          </div>
        </div>
`;
    document
      .getElementById("cancel-select")
      .addEventListener("click", function () {
        document.getElementById("category-selected").innerHTML = "";
        history.pushState(null, "", "/forum/");
        localStorage.removeItem("selectedCategory");
        refreshPosts();
      });
  }

  listBooks();
  listCategories();

  async function refreshPosts() {
    let posts = await getPosts();
    const user_id = "{{ user_id }}";
    let params = new URLSearchParams(document.location.search);
    let category = params.get("category");
    if (category) {
      addCategoryToPage(category);
      posts = await posts.reduce(async (accPromise, post) => {
        const acc = await accPromise;
        if (post.fields.book) {
          const book = await getBookById(post.fields.book);
          if (book.categories[0].name === category) {
            acc.push(post);
          }
        }
        return acc;
      }, Promise.resolve([]));
    }

    posts.sort(
      (a, b) => new Date(b.fields.date_added) - new Date(a.fields.date_added)
    );
    const htmlStrings = [];
    for (const post of posts) {
      let comments = await getCommentsByPostId(post.pk);
      let numComments = comments.length;
      let book = null;
      if (post.fields.book) {
        book = await getBookById(post.fields.book);
      }
      let user = await getUserById(post.fields.user);
      let dateAdded = new Date(post.fields.date_added); // asumsikan ini adalah tanggal saat post ditambahkan
      let now = new Date(); // waktu saat ini
      let diffInMilliseconds = now - dateAdded;
      let diffInSeconds = diffInMilliseconds / 1000;
      let diffInMinutes = diffInSeconds / 60;
      let diffInHours = diffInMinutes / 60;
      let diffInDays = diffInHours / 24;

      let timeDifference;
      if (diffInSeconds < 60) {
        timeDifference = Math.round(diffInSeconds) + " s";
      } else if (diffInMinutes < 60) {
        timeDifference = Math.round(diffInMinutes) + " m";
      } else if (diffInHours < 24) {
        timeDifference = Math.round(diffInHours) + " h";
      } else {
        timeDifference = Math.round(diffInDays) + " d";
      }
      let htmlString = `
        <article class="card mb-3 shadow bg-light w-sm-full" style="cursor:pointer" onclick="window.location.href='post/${post.pk}'">
            <div class="card-body">
                <div class="d-flex justify-content-between m-0">
                    <h4 class="text-dark m-0 fw-bold">${user[0].fields.username} <span class="fw-normal fs-6" style="color: gray"> · ${timeDifference}</span></h4>`;
      if (post.fields.user == user_id) {
        htmlString += `<div class="btn-group">
          <button class="btn btn-sm border-0 top-0 m-0" style="width:auto; height:auto" type="button" data-bs-toggle="dropdown" aria-expanded="false" onclick="event.stopPropagation();"">
            <i class="bi bi-three-dots"></i>
          </button>
          <ul class="dropdown-menu rounded p-0 my-0 shadow bg-light" style="width:auto">
            <li class="px-0 mx-0 fs-6">
              <h4 type="button" class="btn text-dark border-0 fs-6 w-100 m-0 text-start" data-bs-toggle="modal" data-bs-target="#deleteModal${post.pk}" onclick="event.stopPropagation();"><i class="bi bi-trash-fill text-dark"></i> Delete</h4>  
            </li>
            <li class="p-0 m-0 fs-6">
              <h4 type="button" class="btn text-dark border-0 fs-6 w-100 m-0 text-start" data-bs-toggle="modal" data-bs-target="#editModal${post.pk}" onclick="event.stopPropagation();"><i class="bi bi-pencil-fill text-dark"></i> Edit</h4>    
            </li>
          </ul>
        </div>
        `;
      }
      htmlString += `</div>
                <h2 class="card-title m-0 fw-bolder">${post.fields.title}</h2>
                <h4 class="card-text">${post.fields.text}</h4>`;
      if (post.fields.book) {
        htmlString += `<div class="card w-sm-auto">
                  <div class="card-body">
                    <h5 class="card-title">${book.title}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">${book.authors[0].name}</h6>
                  </div>
                </div>
                `;
      }
      if (post.fields.image) {
        htmlString += `<img src="media/${post.fields.image}" class="w-50 h-50 rounded img-fluid" alt="${post.fields.title}">`;
      }
      htmlString += `<div class="mt-1 fw-normal fs-6" style="color: gray"> <i style="color:grey" class="bi bi-chat"></i> ${numComments}</div>
            </div>
        </article>
        <div class="modal fade" id="deleteModal${post.pk}" tabindex="-1" aria-labelledby="deleteModalLabel${post.pk}" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel${post.pk}">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Apakah Anda yakin ingin menghapus post ini?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary rounded" data-bs-dismiss="modal">Batal</button>
                <button type="button" class="btn btn-primary rounded" onclick="deletePost(${post.pk}); return false;" data-bs-dismiss="">Hapus</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="editModal${post.pk}" tabindex="-1" aria-labelledby="editModalLabel${post.pk}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteModalLabel${post.pk}">Edit Post</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="form-post-edit" onsubmit="return false;" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="title-edit" class="col-form-label">Title:</label>
                                <input type="text" class="form-control" id="title-edit" name="title-edit" value="${post.fields.title}"></input>
                            </div>
                            <div class="mb-3">
                                <label for="description-edit" class="col-form-label">Description:</label>
                                <textarea class="form-control" id="description-edit" name="description-edit">${post.fields.text}</textarea>
                            </div>
                            <div class="mb-3">
                                <label for="image-edit" class="col-form-label">Image:</label><br>
                                <input type="file" class="custom-file-input" id="image-edit" name="image-edit" aria-describedby="inputGroupFileAddon01"/>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary rounded" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary rounded" id="button_add" data-bs-dismiss="modal" onclick="editPost(${post.pk}); return false;">Edit Post</button>
                    </div>
                </div>
            </div>
        </div>
    `;
      htmlStrings.push(htmlString);
    }

    document.getElementById("posts").innerHTML = htmlStrings.join("");
  }
  refreshPosts();

  document
    .querySelector("#add-buku")
    .addEventListener("click", async function () {
      var select = document.getElementById("inputGroupSelect01");
      const selectedValue = select.options[select.selectedIndex].value;
      const response = await fetch(`/api/books/${selectedValue}/`, {
        method: "GET",
      });
      const book = await response.json();
      document.getElementById("book").value = book.id;
      document.getElementById(
        "upload-status-book"
      ).innerHTML = `<div class="card p-1">
          <div class="card-body d-flex p-1">
            <p class="mb-0">Book: ${book.title}</p>   
            <a id="cancel-upload-book" class="mb-1" style="color:gray; -webkit-text-stroke: 1px; cursor:pointer"><i class="bi bi-x"></i></a>    
          </div>
        </div>
`;

      document
        .querySelector("#cancel-upload-book")
        .addEventListener("click", function () {
          document.getElementById("book").value = "";
          document.getElementById("upload-status-book").innerHTML = "";
        });
    });

  function addPost() {
    fetch("{% url 'forum:create_post' %}", {
      method: "POST",
      body: new FormData(document.querySelector("#form-post")),
    }).then(refreshPosts);

    document.getElementById("form-post").reset();
    document.getElementById("image").value = "";
    document.getElementById("upload-image").innerHTML = "";
    document.getElementById("book").value = "";
    document.getElementById("upload-status-book").innerHTML = "";
    return false;
  }

  function editPost(post_id) {
    const csrfToken = document.querySelector(
      'input[name="csrfmiddlewaretoken"]'
    ).value;

    // Construct the headers including the CSRF token
    const headers = new Headers({
      "X-CSRFToken": csrfToken, // Include the CSRF token here
    });
    fetch(`edit-post/${post_id}/`, {
      method: "POST",
      body: new FormData(document.querySelector("#form-post-edit")),
      headers: headers,
    }).then(refreshPosts);

    document.getElementById("form-post-edit").reset();
    return false;
  }

  function deletePost(post_id) {
    fetch(`delete-post/${post_id}/`, {
      method: "DELETE",
    }).then(refreshPosts);
    var modalElement = document.getElementById("deleteModal" + post_id);
    var modalInstance = bootstrap.Modal.getInstance(modalElement);
    modalInstance.hide();
    return false;
  }

  document.getElementById("button_add").onclick = addPost;

  document.getElementById("image").addEventListener("change", function (e) {
    var file = e.target.files[0];
    if (file) {
      var reader = new FileReader();
      document.getElementById(
        "upload-image"
      ).innerHTML = `<div class="card mx-2 p-1">
          <div class="card-body d-flex p-1">
            <p class="fs-6 mb-0">File: ${file.name}</p>
            <a id="cancel-upload-image" class="" style="color:gray; -webkit-text-stroke: 1px; cursor:pointer"><i class="bi bi-x"></i></a>    
          </div>
        </div>`;
      reader.readAsDataURL(file);
      document
        .getElementById("cancel-upload-image")
        .addEventListener("click", function () {
          document.getElementById("image").value = "";
          document.getElementById("upload-image").innerHTML = "";
        });
    }
  });

  document.querySelector("#image").addEventListener("change", function (e) {
    var fileName = document.getElementById("image").files[0].name;
    var nextSibling = e.target.nextElementSibling;
    nextSibling.innerText = fileName;
  });

  document.querySelector("#image").addEventListener("change", function (e) {
    var fileName = e.target.files[0].name;
    var nextSibling = e.target.nextElementSibling;
    nextSibling.innerText = fileName;
  });
</script>
{% endblock content %}
