{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row" style="width: fit-content">
    <div class="col-sm">
      <h3 class="mb-3 text-primary">{{username}}</h3>
      <a href="/">Home</a>
      <a href="mypost/">My Post</a>
    </div>
    <div class="col-md-auto">
      <form id="form-post" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>Home</h1>
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" />
        <label for="content" class="form-label">Content</label>
        <textarea
          class="form-control"
          id="content"
          name="content"
          rows="3"
        ></textarea>
        <label for="image" class="form-label">Image</label>
        <input type="file" class="form-control" id="image" name="image" />
        <button id="button_add" class="btn btn-primary mt-2">Submit</button>
      </form>
      <div id="posts"></div>
      <a href="{% url 'forum:logout' %}" class="btn btn-secondary"
        ><i class="bi bi-box-arrow-right"></i> Logout</a
      >
    </div>
    <div class="col-sm-5"></div>
  </div>
</div>

<!-- Your scripts here -->
<script>
  async function getPosts() {
    return fetch("{% url 'forum:get_post' %}").then((res) => res.json());
  }
  async function getCommentsById(post_id) {
    return fetch(`get-comment/${post_id}`).then((res) => res.json());
  }
  async function getUserById(user_id) {
    return fetch(`get-user/${user_id}`).then((res) => res.json());
  }
  async function refreshPosts() {
    const posts = await getPosts();
    const user_id = "{{ user_id }}";
    posts.sort(
      (a, b) =>
        new Date(b.fields.date_added) - new Date(a.fields.date_added)
    );
    const htmlStrings = [];
    for (const post of posts) {
      let user = await getUserById(post.fields.user);
      let htmlString = `
                    <div class="card mb-3 shadow-sm bg-light border-primary">
                        <div class="card-body">
                            <h5 class="card-title text-primary">${post.fields.title}</h5>`;
      if (post.fields.image) {
        htmlString += `<img src="media/${post.fields.image}" class="card-img-top w-50 h-50 img-fluid img-thumbnail" alt="${post.fields.title}">`;
      }
      htmlString += `<h6 class="card-subtitle mb-2 text-muted">Posted by ${user[0].fields.username} on ${post.fields.date_added}</h6>
                            <p class="card-text">${post.fields.text}</p>`;
      if (post.fields.user == user_id) {
        htmlString += `
                    <button type="submit" onclick="deletePost(${post.pk}); return false;" class="btn btn-danger mt-3"><i class="bi bi-trash-fill"></i> Delete Post</button>`;
      }
      htmlString += `
                <a href = "post/${post.pk}">See Post</a>
                    </div>
                    </div>`;
      htmlStrings.push(htmlString);
    }

    document.getElementById("posts").innerHTML = htmlStrings.join("");
  }
  refreshPosts();

  function addPost() {
    fetch("{% url 'forum:create_post' %}", {
      method: "POST",
      body: new FormData(document.querySelector("#form-post")),
    }).then(refreshPosts);

    document.getElementById("form-post").reset();
    return false;
  }
  function addComment(post_id) {
    console.log("adding comment");
    fetch(`create-comment/${post_id}/`, {
      method: "POST",
      body: new FormData(document.querySelector("#form-comment")),
    }).then(refreshPosts);

    document.getElementById("form-comment").reset();
    return false;
  }

  function deletePost(post_id) {
    fetch(`delete-post/${post_id}`, {
      method: "DELETE",
    }).then(refreshPosts);
    return false;
  }

  function deleteComment(comment) {
    console.log("deleteComment");
    fetch(`delete-comment/${comment}`, {
      method: "DELETE",
    }).then(refreshPosts);
    return false;
  }
  document.getElementById("button_add").onclick = addPost;
</script>
{% endblock content %}
