{% extends 'base.html' %} {% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/my_post.css" />
{% endblock %} {% block content %}
<div class="container d-flex flex-row">
  <main class="container">
    {% if authenticated %}
    <div id="sub-container">
      <h1 class="fw-bold">My Post</h1>
      <div id="cat-container" class="">
        <div class="dropdown mb-2 me-2">
          <button
            class="btn btn-primary dropdown-toggle rounded"
            type="button"
            id="category-button"
            data-bs-toggle="dropdown"
            data-bs-display="static"
          >
            Categories <span class="caret"></span>
          </button>
          <ul class="dropdown-menu p-1 rounded shadow-sm" id="categories-list">
            <input
              class="form-control mb-0"
              id="my-input"
              type="text"
              placeholder="Search.."
            />
          </ul>
        </div>
        <div id="category-selected"></div>
      </div>
      <div id="posts"></div>
      <div
        class="modal fade"
        id="deleteModal"
        tabindex="-1"
        aria-labelledby="deleteModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Delete Post</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete this post?
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary rounded"
                data-bs-dismiss="modal"
              >
                Cancel
              </button>
              <button
                id="btn-delete"
                type="button"
                class="btn btn-primary rounded"
                data-bs-dismiss="modal"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
      <div
        class="modal fade"
        id="editModal"
        tabindex="-1"
        aria-labelledby="editModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="deleteModalLabel">Edit Post</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form
                id="form-post-edit"
                onsubmit="return false;"
                method="POST"
                enctype="multipart/form-data"
              >
                {% csrf_token %}
                <div class="mb-3">
                  <label for="title-edit" class="col-form-label">Title:</label>
                  {{ formPE.title}}
                </div>
                <div class="mb-3">
                  <label for="description-edit" class="col-form-label"
                    >Description:</label
                  >
                  {{ formPE.text}}
                </div>
                {{ formPE.book }}
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary rounded"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary rounded"
                id="btn-edit"
                data-bs-dismiss="modal"
              >
                Edit Post
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="text-center mt-5">
      <h1 class="text-dark">You Need To Login To See Your Post</h1>
      <p class="fs-4">
        Please <a href="/login" class="text-primary">login</a> to continue.
      </p>
    </div>
    {% endif %}
    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Pilih Buku</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="input-group mb-3">
              <select class="form-select" id="inputGroupSelect01"></select>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              id="add-buku"
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
            >
              Pilih Buku
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<p id="user-id" class="d-none">{{user_id}}</p>

<!-- Your scripts here -->
{% block scripts %}
<script src="/static/js/my-post.js"></script>
{% endblock %} {% endblock content %}
