{% extends 'base.html' %} {% block content %}
<div class="container d-flex flex-row">
  <header>{% include 'sidebar.html'%}</header>
  <main>
    <div class="row" style="width: fit-content">
      <div id="posts">
        <h1>My Post</h1>
        <hr />
        {% for post in posts %}
        <div class="card mb-3 shadow-sm bg-light">
          <div class="card-body">
            <h5 class="card-title text-primary">{{post.title}}</h5>
            {% if post.image %}
            <img
              src="{{ post.image.url }}"
              class="card-img-top w-50 h-50 img-fluid img-thumbnail"
              alt="{{post.fields.title}}"
            />
            {% endif %}
            <h6 class="card-subtitle mb-2 text-muted">
              Posted by {{username}} on {{post.date_added}}
            </h6>
            <p class="card-text">{{post.text}}</p>
            <button type="submit" class="btn btn-danger mt-3">
              <i class="bi bi-trash-fill"></i> Delete Post
            </button>
            <a href="{% url 'forum:show_post' post.pk %}">See Post</a>
          </div>
        </div>
        {% endfor %}
      </div>
      <a href="{% url 'main:logout' %}" class="btn btn-secondary"
        ><i class="bi bi-box-arrow-right"></i> Logout</a
      >
    </div>
  </main>
</div>

<!-- Your scripts here -->
<script>
  async function getPosts(user_id) {
    return fetch(`get-post/${user_id}`).then((res) => res.json());
  }
  async function getUserById(user_id) {
    return fetch(`get-user/${user_id}`).then((res) => res.json());
  }
  async function refreshPosts() {
    const user_id = "{{ user_id }}";
    const posts = await getPosts(user_id);
    posts.sort(
      (a, b) => new Date(b.fields.date_added) - new Date(a.fields.date_added)
    );
    const htmlStrings = [];
    for (const post of posts) {
      let user = await getUserById(post.fields.user);
      let dateAdded = new Date(post.fields.date_added); // asumsikan ini adalah tanggal saat post ditambahkan
      let now = new Date(); // waktu saat ini

      let diffInMilliseconds = now - dateAdded;
      let diffInSeconds = diffInMilliseconds / 1000;
      let diffInMinutes = diffInSeconds / 60;
      let diffInHours = diffInMinutes / 60;
      let diffInDays = diffInHours / 24;

      let timeDifference;
      if (diffInSeconds < 60) {
        timeDifference = Math.round(diffInSeconds) + " s";
      } else if (diffInMinutes < 60) {
        timeDifference = Math.round(diffInMinutes) + " m";
      } else if (diffInHours < 24) {
        timeDifference = Math.round(diffInHours) + " h";
      } else {
        timeDifference = Math.round(diffInDays) + " d";
      }
      let htmlString = `
                        <div class="card mb-3 shadow-sm bg-light">
                            <div class="card-body">
                              <div class="d-flex justify-content-between">
                                <h4 class="text-dark fw-bold">${user[0].fields.username} <span class="fw-normal fs-6" style="color: gray"> · ${timeDifference}</span></h4>`;
      if (post.fields.user == user_id) {
        htmlString += `<button type="submit" onclick="deletePost(${post.pk}); return false;" class="btn btn-danger mt-3"><i class="bi bi-trash-fill"></i> Delete Post</button>`;
      }
      htmlString += `</div>
                              <h5 class="card-title text-primary">${post.fields.title}</h5>
                              <p class="card-text">${post.fields.text}</p>`;
      if (post.fields.image) {
        htmlString += `<img src="media/${post.fields.image}" class="card-img-top w-50 h-50 img-fluid img-thumbnail" alt="${post.fields.title}">`;
      }
      htmlString += `
                    <a href = "post/${post.pk}">See Post</a>
                        </div>
                        </div>`;
      htmlStrings.push(htmlString);
    }

    document.getElementById("posts").innerHTML = htmlStrings.join("");
  }
  // refreshPosts();

  function addPost() {
    fetch("{% url 'forum:create_post' %}", {
      method: "POST",
      body: new FormData(document.querySelector("#form-post")),
    }).then(refreshPosts);

    document.getElementById("form-post").reset();
    return false;
  }

  function deletePost(post_id) {
    fetch(`delete-post/${post_id}`, {
      method: "DELETE",
    }).then(refreshPosts);
    return false;
  }
</script>

{% endblock content %}
