<nav class="w-auto sticky-top">
  <div
    class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100"
  >
    <a
      href="/"
      class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
    >
      <span
        class="fs-5 d-none d-sm-inline text-decoration-none text-reset fs-4 fw-bold"
        >{{username}}</span
      >
    </a>
    <ul
      class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
      id="menu"
    >
      <li class="nav-item">
        <a
          href="/forum/"
          class="nav-link align-middle px-0 text-decoration-none text-reset fs-5 fw-bold"
        >
          <i class="bi bi-house-door-fill text-dark"></i
          ><span class="ms-1 d-none d-sm-inline"> Home</span>
        </a>
      </li>

      <li>
        <a
          href="mypost/"
          class="nav-link px-0 align-middle text-decoration-none text-reset fs-5 fw-bold"
        >
          <i class="bi bi-person-fill text-dark"></i>
          <span class="ms-1 d-none d-sm-inline">My Post</span></a
        >
      </li>
    </ul>
  </div>
</nav>
