{% extends "base.html" %}

{% block title %} Catalog {% endblock %}

{% block content %}
    <section id="catalog" class="bookshelf">
        <div class="container">
            <div class="row">
				<div class="col-md-12">

					<div class="section-header align-center">
						<div class="title">
							<span>"Books are a uniquely portable magic." - Stephen King</span>
						</div>
						<h2 class="section-title">Bookshelf</h2>
					</div>

					<ul class="tabs">
						<li data-tab-target="#all-genre" class="active tab">All Genre</li>
						{% for category in categories %}
							<li data-tab-target="#{{ category.processed_name }}" class="tab">{{ category.name }}</li>
						{% endfor %}
					</ul>

					<div class="tab-content">
						<div id="all-genre" data-tab-content class="active">
							<div class="row row-cols-4">
								{% for book in all_books %}
									<div class="col">
										<div class="product-item">
											<figure class="product-style">
												<img src="/media/{{ book.cover }}" alt="Books" class="product-item" onclick="location.href='/catalog/book/{{ book.id }}'">
												<button type="button" class="add-to-cart" data-product-tile="add-to-cart" onclick="addToMyBooks({{ book.id }})">Add to MyBooks</button>
											</figure>
											<figcaption>
												<h3>{{ book.title }}</h3>
												<span>{{ book.authors.first }}{% if book.authors.count > 1 %} et al.{% endif %}</span>
												<div class="item-price">&#11088; {{ book.average_rating }}</div>
											</figcaption>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
						{% for category in categories %}
						<div id="{{ category.processed_name }}" data-tab-content>
							<div class="row row-cols-4">
								{% for book in category.books %}
									<div class="col">
										<div class="product-item">
											<figure class="product-style">
												<img src="/media/{{ book.cover }}" alt="Books" class="product-item">
												<button type="button" class="add-to-cart" data-product-tile="add-to-cart" onclick="addToMyBooks({{ book.id }})">Add to MyBooks</button>
											</figure>
											<figcaption>
												<h3>{{ book.title }}</h3>
												<span>{{ book.authors.first }}{% if book.authors.count > 1 %} et al.{% endif %}</span>
												<div class="item-price">&#11088; {{ book.average_rating }}</div>
											</figcaption>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>

    <script>
		// Add to MyBooks
		async function addToMyBooks(book_id) {
			fetch(`/MyBooks/create-product-ajax/${book_id}/`, {
				method: 'POST',
			}).then(response => {
				if (response.ok) {
					alert('Book added to MyBooks');
				}
				else {
					throw new Error(response.statusText);
				}
			}).catch(error => {
				console.log(error);
			});
		};

		// Switch Tabs
		setTimeout(function() {
			const tabs = document.querySelectorAll('[data-tab-target]');
			const tabContents = document.querySelectorAll('[data-tab-content]');
			tabs.forEach(tab => {
				tab.addEventListener('click', () => {
					const target = document.querySelector(tab.dataset.tabTarget);
					tabContents.forEach(tabContent => {
						tabContent.classList.remove('active');
					});
					tabs.forEach(tab => {
						tab.classList.remove('active');
					});
					tab.classList.add('active');
					target.classList.add('active');
				});
			});
		}, 1000);
    </script>
{% endblock %}