{% extends "base.html" %}

{% block content %}

<div>
    <h1 style="text-align: center;">My Published Books</h1>
    <div id="publishList" style="display: flex; flex-wrap: wrap; justify-content: space-around;">
        {% if publish %}
            {% for book in publish %}
            <div class="book-card" style="border: 2px solid transparent; padding: 10px; width: 300px; margin: 10px; border-radius: 10px; background-color: white;">
                <h3 style="text-align: center;">{{ book.title }}</h3>
                {% if not book.is_verified %}
                <p style="color: blue; text-align: center;">(Not Confirmed)</p>
                {% elif book.is_valid %}
                <p style="color: green; text-align: center;">(Accepted)</p>
                {% else %}
                <p style="color: black; text-align: center;">(Rejected)</p>
                {% endif %}
                <div style="text-align: center;">
                    {% csrf_token %}
                    <button class="delete-button" style="border-radius: 10px;" onclick="confirmDelete('{{ book.id }}')">Delete</button>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p style="text-align: center;">You haven't published a book</p>
        {% endif %}
    </div>
</div>

<script>
    async function getPublishByUser(){
        return fetch(`/publish/get-publish/`).then((res) => res.json());
    }

    async function confirmDelete(id) {
        if (confirm('Are you sure you want to delete this book?')) {
            deletePublish(id);
        }
    }

    function deletePublish(id) {
        fetch("delete-publish/?/".replace("?", id), {
            method: "POST"
        }).then(response => {window.location.reload();
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>

{% endblock content %}