{% extends 'base.html' %}
{% load static %}
{% block content %}
<style> 
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    table, th, td {
        border: 1px solid #888888;
    }

    th, td {
        padding: 12px;
        text-align: center;
    }





</style>

                 <div><img src="{% static '/images/product-1.png' %}" class="card-img-top planner w-25" style="min-width: 120px;" ></div>
     



<table id ="book_table"></table>

<div id ="tes"></div>

<button onclick = "refreshBooks()"> refresh</button>


<script>
  async function getBooks(){
    console.log("testes")
    return fetch("{% url 'MyBooks:get_mybooks_json' %}").then((res) => res.json())
  }
  async function refreshBooks() {
    console.log("memekkokgabisa")
      document.getElementById("book_table").innerHTML = ""
      const mybooks = await getBooks()
      let htmlString = `<tr>
          <th>Cover</th>
          <th>Book</th>
          <th>Finished Reading</th>
          <th colspan="3"></th>
      </tr>`
      mybooks.forEach((item) => {
          htmlString += `\n<tr>
            <td> <img src = ${item.fields.Book.cover} alt = "Image"</td>
          <td><p>${item.fields.Book.title}<p>
              <a href ="${item.fields.Book.preview_link}">Read Here</a>
              <p>${item.fields.Book.description}</p>
            </td>
          <td></td>
  `
      })
      
      document.getElementById("book_table").innerHTML = htmlString
  
  }
  refreshBooks()

async function getProducts() {
        return fetch(`/api/books/`).then((res) => res.json())
    }
    async function refreshProducts() {
        document.getElementById("tes").innerHTML = ""
        const products = await getProducts()
        let htmlString = ``
        products.forEach((item) => {
                htmlString += `\n
                  <button onclick = "addProduct(${item.id})">${item.id}</button>`
            })

        document.getElementById("tes").innerHTML = htmlString
    }
    refreshProducts()
    function coba(){
      console.log("wow!")
    }
    const rate = (rating, post_id) => {
        fetch(`/rate/${post_id}/${rating}/`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(rest => {
            window.location.reload();

        })
    }


    function addProduct(book_id) {
        fetch(`create-product-ajax/${book_id}/`, {
            method: "POST",
        }).then(refreshProducts)

        return false
    }
    document.getElementById("button_add").onclick = addProduct

</script>

{% endblock content %}


