{% extends 'base.html' %}
{% load static %}
{% block content %}
<style> 
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;

    }

    table, th, td {
        border: 1px solid #888888;
    }

    th, td {
        padding: 12px;
        text-align: center;
    }
.bi{
    color:black;

}

</style>


     



<table  id ="book_table"></table>


<!-- ini buat tes add katalog buku ke mybooks -->
<div id ="tes"></div>`


<script>
  async function getBooks(){
    return fetch("{% url 'MyBooks:get_mybooks_json' %}").then((res) => res.json())
  }
  async function refreshBooks() {
      document.getElementById("book_table").innerHTML = ""
      const mybooks = await getBooks()
      let htmlString = `<tr>
          <th><h4  class="mx-2">Cover</h4></th>
          <th><h4  class="mx-2">Book</h4></th>
          <th><h4  class="mx-2">Finished</h4></th>
          <th colspan="3"></th>
      </tr>`
      mybooks.forEach((item) => {
          htmlString += `\n<tr>
            <td> <img src = /media/${item.fields.cover} alt = "Image" style="min-width: 150px; max-width:150px"  </td>
          <td><h4  class="mx-2">${item.fields.title}</h4>
            <h4  class="mx-2">${item.fields.description}</h4>
              <a href="${item.fields.preview_link}" class="btn btn-outline-accent btn-accent-arrow">Read Here</a>
            </td>
<td>
<a id="button_show" onclick = "window.location.href='/MyBooks/show-review/${item.pk}'" class="btn btn-outline-accent btn-accent-arrow">Go to Review</a>
            </td>
          <td> <a id="button_delete" onclick="removeFromCart(${item.pk})" class="btn btn-outline-accent btn-accent-arrow">Remove</a>
                        </td>
  `

      })
      document.getElementById("book_table").innerHTML = htmlString

  }
  refreshBooks()


 async function createComment(book_id){
    fetch(`/MyBooks/add-review-ajax/${book_id}/`, {
                method: "POST",
                body: new FormData(document.querySelector('#form'))
            }).then(refreshBooks)

            document.getElementById("form").reset()
            return false
        }
 
 function removeFromCart(id) {
        fetch("{% url 'MyBooks:remove_from_cart' %}", {
            method: 'DELETE',
            body: JSON.stringify({
                'id': id
            })
        }).then(refreshBooks)
    }


async function getProducts() {
        return fetch(`/api/books/`).then((res) => res.json())
    }
    async function refreshProducts() {
        document.getElementById("tes").innerHTML = ""
        const products = await getProducts()
        let htmlString = ``
        products.forEach((item) => {
                htmlString += `\n
                  <button onclick = "addProduct(${item.id})">${item.id}</button>`
            })

        document.getElementById("tes").innerHTML = htmlString
    }
    refreshProducts()


    function addProduct(book_id) {
        fetch(`create-product-ajax/${book_id}/`, {
            method: "POST",
        }).then(refreshProducts).then(refreshBooks)

        return false
    }

    document.addEventListener('click', function(e) {
  if (e.target && e.target.id == 'button_add_review') {
    // Get the book_id from the button's 'data-book-id' attribute
    var book_id = e.target.getAttribute('data-book-id');
    createComment(book_id);
  }
});



</script>

{% endblock content %}


