{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock meta %}

{% block content %}
    <div class="container mt-3 pt-2 px-5">
        <div class="book-container flex-row d-flex justify-content-center">
            <div class="book-image ms-5" style="height: 300px; width: 200px;">
                <img src={{book.cover.url}} alt="ga ada" class="rounded img-responsive mh-100">
            </div>
            <div class="book-details text-left ps-5" style="width: 550px;">
                <h1>{{book.title}}</h1>
                <div class="flex-row d-flex">
                    <h5 class="me-5">{{book.author}}</h5>
                    <span class="fa fa-star checked ms-3" style="color: orange; font-size: 24px;"></span>
                    <h5 class="mx-2">{{average}} / 5.0  With Total reviews : ({{reviews.count}})</h5>
                </div>
                <br>
                <br>
                <br>
            </div>
        </div>
        <hr class="my-4">

        
        <div class="reviews-container">
            <div class="">
                <h2 class="ms-5">Your Review:</h2>
                <div id="user-review" class="d-flex flex-column justify-content-center mt-5"></div>
                </div>

                <h2 class="ms-5">Reviews:</h2>
                <div id="reviews" class="d-flex flex-column justify-content-center mt-5">

                </div>

                <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Add a Review</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="form" onsubmit="return false;">
                                    {% csrf_token %}
                                    <select id ="rating" name = "rating" class="form-select" aria-label="Default select example">
                                        <option value="0"  selected>Pick a Rating</option>
                                        <option value="1">⭐
                                        </option>
                                        <option value="2">⭐⭐
                                        </option>
                                        <option value="3">⭐⭐⭐
                                        </option>
                                        <option value="4">⭐⭐⭐⭐
                                        </option>
                                        <option value="5">⭐⭐⭐⭐⭐
                                        </option>
                                      </select>
                                    <div class="mb-3">
                                        <label for="review" class="col-form-label">comment</label>
                                        {{review_form.review}}
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="button_add_review" data-book-id="{{book.id}}"  data-bs-dismiss="modal">Add Review</button>
                
                            </div>
                        </div>
                    </div>
                </div>



   



<script>
    const book_id ="{{book.id}}"
    const mybook = "{{mybook}}"
</script>
<script>
        async function getReviews() {
            return fetch(`get-reviews/${book_id}`).then((res) => res.json())
        }

        async function getUserReviews() {
            return fetch(`get-user-reviews/${book_id}`).then((res) => res.json())
        }
        async function refreshReview() {
            const userReview = await getUserReviews()
            const review = userReview[0]
            document.getElementById("user-review").innerHTML = ""
            let htmlString = ""
            if (review !== undefined) {
                htmlString = `\n
                <div class="user-review container" style="width: 900px; height: 180px;">
                        <div class="card d-flex flex-column p-4">
                            <div class="review-details d-flex flex-row">
                                <div class="user d-flex flex-row">
                                    <span class="fa fa-user me-1 me-3" style="font-size: 36px;"></span>
                                    <p style="font-size: 20px; width: 250px;">YOU</p>
                                </div>
                                <div class="rating mx-2" style="width: 400px;">
                                    <span>Rated The Book:</span>
                                    <span class="fa fa-star checked" style="color: orange; font-size: 24px;"></span>
                                    <span>${review.fields.rating}.0/5.0</span>
                                </div>
                                <div class="text-left" style="width: 140px;">
                                    <span> ${review.fields.date_added} </span>

                                </div>
                            </div>
                            <div class="review text mt-2" style="width: 500px; height: auto;">
                                ${review.fields.review}
                            </div>
                            </div>
                            </div>
                            <div class="buttons d-flex flex-row mt-4 justify-content-center">
                        <button type="button" id="button_delete" onclick="deleteReview(${book_id}); return false;">Delete</button>
                    </div>
                
                    `


            } else if (mybook == "kosong"){
                htmlString += `<button  id="add_my_books" data-book-id="${book_id}"  onclick = "addProduct(${book_id})">Add to My Books</button>`
            }
            else {
                htmlString = `\n
                    <div class="mt-3">
                        <button type="button" data-bs-toggle="modal" data-bs-target="#addModal" ">Add Rating & Review</button>
                    </div>`
            }
            document.getElementById("user-review").innerHTML = htmlString
        }
        refreshReview()


        function deleteReview(book_id) {
            fetch(`delete-review/${book_id}/`, {
                method: 'DELETE'
            }).then(refreshReview).then(refreshReviews)
            return false
        }


        async function refreshReviews() {
            const reviews = await getReviews()
            document.getElementById("reviews").innerHTML = ""
            let htmlString = ""
            let ratingChar = ''
            reviews.forEach((review) => {
                let rating = review.fields.rating
                htmlString += `\n
                <div class="user-review container" style="width: 900px; height: 180px;">
                        <div class="card d-flex flex-column p-4">
                            <div class="review-details d-flex flex-row">
                                <div class="user d-flex flex-row">
                                    <span class="fa fa-user me-1 me-3" style="font-size: 36px;"></span>
                                    <p style="font-size: 20px; width: 250px;">${review.fields.username}</p>
                                </div>
                                <div class="rating mx-2" style="width: 400px;">
                                    <span>Rated The Book:</span>
                                    <span class="fa fa-star checked" style="color: orange; font-size: 24px;"></span>
                                    <span>${rating}.0/5.0</span>
                                </div>
                                <div class="text-left" style="width: 140px;">
                                    ${review.fields.date_added}
                                </div>
                            </div>
                            <div class="review text mt-2" style="width: 500px; height: auto;">
                                ${review.fields.review}
                            </div>
                        </div>
                    </div>`
            })
            document.getElementById("reviews").innerHTML = htmlString
        }
        refreshReviews()
        async function createComment(book_id){
    console.log("masuk ga aya")
    fetch(`/MyBooks/add-review-ajax/${book_id}/`, {
                method: "POST",
                body: new FormData(document.querySelector('#form'))
            }).then(refreshReview).then(refreshReviews)

            document.getElementById("form").reset()
            return false
        }
 


        document.addEventListener('click', function(e) {
  if (e.target && e.target.id == 'button_add_review') {
    // Get the book_id from the button's 'data-book-id' attribute
    var book_id = e.target.getAttribute('data-book-id');
    createComment(book_id);
  }
  else if (e.target.id == 'add_my_books'){
    var book_id = e.target.getAttribute('data-book-id');
    addProduct(book_id);
  }

})

  async function addProduct(book_id) {
        fetch(`/MyBooks/create-product-ajax/${book_id}/`, {
            method: "POST",
        }).then(refreshReview).then(refreshReviews)
        return false
    }





    document.getElementById("button_delete").onclick = deleteReview
</script>



{% endblock content %}