<!--  Load static files -->
{% load static %}


<footer id="footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4">

                <div class="footer-item">
                    <div class="company-brand">
                        <img src="/static/images/logo-book-buffet.png" alt="logo" class="footer-logo">
                        <p>Thank you for visiting BookBuffet! We hope our service gave you an amazing experience.</p>
                    </div>
                </div>

            </div>

            <div class="col-md-2">

                <div class="footer-menu">
                    <h5>About Us</h5>
                    <ul class="menu-list">
                        <li class="menu-item">
                            <a href="https://www.instagram.com/andhikapraa/">Pras</a>
                        </li>
                        <li class="menu-item">
                            <a href="https://www.instagram.com/ricardosihom/">Ricardo </a>
                        </li>
                        <li class="menu-item">
                            <a href="https://www.instagram.com/faishalnelwan/">Pesol</a>
                        </li>
                        <li class="menu-item">
                            <a href="https://www.instagram.com/zafaza.za/">Faza</a>
                        </li>
                        <li class="menu-item">
                            <a href="https://www.instagram.com/fionaratu04/">Fiona</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-md-2">

                <div class="footer-menu">
                    <h5>Discover</h5>
                    <ul class="menu-list">
                        <li class="menu-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="menu-item">
                            <a href="/catalog/">Book Catalogue</a>
                        </li>
                        <li class="menu-item">
                            <a href="/forum/">Forum</a>
                        </li>
                        <li class="menu-item">
                            <a href="/publish/">Publish a Book</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-md-2">

                <div class="footer-menu">
                    <h5>My account</h5>
                    <ul class="menu-list">
                        <li class="menu-item">
                            <a href="{%url 'main:logout'%}">Logout</a>
                        </li>
                        <li class="menu-item">
                            <a href="/MyBooks/">My Books</a>
                        </li>

                    </ul>
                </div>

            </div>
            <div class="col-md-2">

                <div class="footer-menu">
                    <h5>Help</h5>
                    <ul class="menu-list">
                        <li class="menu-item">
                            <a href="/report/">Report a Book</a>
                        </li>

                        <li class="menu-item">
                            <a href="https://www.youtube.com/shorts/b4CrU4742F8?feature=sharepost/60704832296">Contact us</a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
        <!-- / row -->

    </div>
</footer>
