{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>BookSaw - Free Book Store HTML CSS Template</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="author" content="">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'icomoon/icomoon.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/vendor.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

</head>

<body data-bs-spy="scroll" data-bs-target="#header" tabindex="0">



	<section id="billboard">

		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<button class="prev slick-arrow">
						<i class="icon icon-arrow-left"></i>
					</button>

					<div class="main-slider pattern-overlay">
						<div class="slider-item">
							<div class="banner-content">
								<h2 class="section-title divider">Welcome to BookBuffet!</h2>
								<blockquote data-aos="fade-up">
									<q>“The more that you read here, the more things you will know. The more that you learn here, the more places
										you’ll go. The more you explore here, the more that you will experience.”</q>
								</blockquote>
								<div class="btn-wrap">
									<a href="/catalog/" class="btn btn-outline-accent btn-accent-arrow">Explore</a>
								</div>
							</div><!--banner-content-->
						</div><!--slider-item-->

						{% for book in top_books %}
						<div class="slider-item">
							<div class="banner-content">
								<h2 class="banner-title">{{ book.title }}</h2>
								<p>{{ book.subtitle }}</p>
								<div class="btn-wrap">
									<a href="/catalog/" class="btn btn-outline-accent btn-accent-arrow">See Details</a>
								</div>
							</div><!--banner-content-->
							<img src="/media/{{ book.cover }}" alt="banner" style = "min-width: 150px;" class="banner-image">
						</div><!--slider-item-->
						{% endfor %}

					</div><!--slider-->

					<button class="next slick-arrow">
						<i class="icon icon-arrow-right"></i>
					</button>

				</div>
			</div>
		</div>

	</section>



    <!-- ======= Features Section ======= -->
    <section id="services" class="services section-bg">
		<div class="container" data-aos="fade-up">
  
			<div class="section-header align-center">
				<div class="title">
					<span>----------</span>
				</div>
				<h2 class="section-title">Our Features</h2>
			</div>
  
		  <div class="row gy-4">
  
			<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
			  <div class="service-item  position-relative">
				<div class="icon">
				  <i class="fa-solid fa-shop"></i>
				</div>
				<h3>My Books</h3>
				<p>Create your own personalised book rack where you can journal all the books you've read and leave a review to other users!</p>
				<a href="/MyBooks/" class="readmore stretched-link">Check Out Your Books<i class="bi bi-arrow-right"></i></a>
			  </div>
			</div><!-- End Service Item -->
  
			<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
			  <div class="service-item position-relative">
				<div class="icon">
				  <i class="fa-solid fa-map-location"></i>
				</div>
				<h3>Forum</h3>
				<p>A place where you can discuss anything related to literacy, meet new interesting people, and finding your own community!</p>
				<a href="/forum/" class="readmore stretched-link">Discuss and Meet New People Here<i class="bi bi-arrow-right"></i></a>
			  </div>
			</div><!-- End Service Item -->
  
			<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
			  <div class="service-item position-relative">
				<div class="icon">
				  <i class="fa-solid fa-magnifying-glass-location"></i>
				</div>
				<h3>Publish a Book</h3>
				<p>Publish your own books to broaden your audience! Fill out the form first and wait for the admin to review it and publish it to the site.</p>
				<a href="/publish/" class="readmore stretched-link">Publish Your Own Book<i class="bi bi-arrow-right"></i></a>
			  </div>
			</div><!-- End Service Item -->
  
			<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
			  <div class="service-item position-relative">
				<div class="icon">
				  <i class="fa-solid fa-message"></i>
				</div>
				<h3>Report a Book</h3>
				<p>To keep BookBuffet's community safe and regulated for all, you can report a book that goes against community's guidelines so that BookBuffet's admin can review it and remove the book from the site.</p>
				<a href="/report/" class="readmore stretched-link">Report a Book <i class="bi bi-arrow-right"></i></a>
			  </div>
			</div>
  
			<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
			  <div class="service-item position-relative">
				<div class="icon">
				  <i class="fa-solid fa-calendar-check"></i>
				</div>
				<h3>Book Catalogue</h3>
				<p>Explore through our vast of book collections to find the one best suited to you. You can access all the details about any book in BookBuffet and can add it to your My Books</p>
				<a href="/catalog/" class="readmore stretched-link">Explore<i class="bi bi-arrow-right"></i></a>
			  </div>
			</div><!-- End Service Item -->
  
		  </div>
  
		</div>
	  </section><!-- End Services Section -->




	<section id="featured-books" class="py-5 my-5">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="section-header align-center">
						<div class="title">
							<span>Random Picks</span>
						</div>
						<h2 class="section-title">Featured Books</h2>
					</div>

					<div class="product-list" data-aos="fade-up">
						<div class="row">

							{% for book in random_picks %}
							<div class="col-md-3">
								<div class="product-item">
									<figure class="product-style">
										<img src="/media/{{ book.cover }}" alt="Books" style = "min-width: 150px;" class="product-item">
										<button type="button" class="add-to-cart" data-product-tile="add-to-cart" onclick="location.href='/catalog/'">See Details</button>
									</figure>
									<figcaption>
										<h3>{{ book.title }}</h3>
										<span>{{ book.authors.first }}{% if book.authors.count > 1 %} et al.{% endif %}</span>
										<div class="item-price">&#11088; {{ book.average_rating }}</div>
									</figcaption>
								</div>
							</div>
							{% endfor %}

						</div><!--ft-books-slider-->
					</div><!--grid-->


				</div><!--inner-content-->
			</div>

			<div class="row">
				<div class="col-md-12">

					<div class="btn-wrap align-right">
						<a href="/catalog/" class="btn-accent-arrow">View all books <i
								class="icon icon-ns-arrow-right"></i></a>
					</div>

				</div>
			</div>
		</div>
	</section>

	<section id="quotation" class="align-center pb-5 mb-5">
		<div class="inner-content">
			<h2 class="section-title divider">Quote of the day</h2>
			<blockquote data-aos="fade-up">
				<q>“Hobi Literasi kata mama IPK nya nanti 4.0”</q>
				<div class="author-name">Pras Einstein</div>
			</blockquote>
		</div>
	</section>

	
	<script src="/static/js/jquery-1.11.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
	<script src="/static/js/plugins.js"></script>
	<script src="/static/js/script.js"></script>

</body>

</html>

{% endblock content %}