<!--  Load static files -->
{% load static %}




<header id="header">
    <body>
        <div class="container-fluid  d-flex align-items-center">
            <div class="row">
    
                <div class="col-md-2  d-flex align-items-center">
                    <div class="main-logo  ">
                        <a href="index.html"><img src="/static/images/logo-book-buffet.png" alt="logo"></a>
                    </div>
    
                </div>
    
                <div class="col-md-10 ">
    
                    <nav id="navbar">
                        <div class="main-menu stellarnav  ">
                            <ul class="menu-list">

                                <li class="menu-item active"><a href="/" id="home">Home</a></li>

                                <li class="menu-item has-sub">
                                    <a href="#pages" class="nav-link">Explore</a>
    
                                    <ul>
                                        <li class="active"><a href="index.html">Home</a></li>
                                        <li><a href="about.html">About <span class="badge bg-dark">PRO</span></a></li>
                                        <li><a href="styles.html">Styles <span class="badge bg-dark">PRO</span></a></li>
                                        <li><a href="blog.html">Blog <span class="badge bg-dark">PRO</span></a></li>
                                        <li><a href="single-post.html">Post Single <span class="badge bg-dark">PRO</span></a></li>
                                        <li><a href="shop.html">Our Store <span class="badge bg-dark">PRO</span></a></li>
                                        <li><a href="single-product.html">Product Single <span class="badge bg-dark">PRO</span></a></li>
                                        <li><a href="contact.html">Contact <span class="badge bg-dark">PRO</span></a></li>
                                        <li><a href="thank-you.html">Thank You <span class="badge bg-dark">PRO</span></a></li>
                                    </ul>
    
                                </li>

                                <li class="menu-item"><a href="/publish/" id = "publish" class="nav-link">Publish a Book</a></li>
                                <li class="menu-item has-sub">
                                    <a href="/forum/" class="nav-link">Forum</a>
                                    <ul>
                                        <li ><a href="/forum/">Forum</a></li>
                                        <li ><a href="/forum/mypost/">My Post</a></li>

                                    </ul>
    
                                </li>
                                <li class="menu-item"><a href="/MyBooks/" class="nav-link" id = "MyBooks">My Books</a></li>

    
                                <li class="menu-item has-sub">
                                    <a href="#pages" class="nav-link"><i class="icon icon-user"></i></a>
                                    <ul>

                                        <li><a href="/report/" id = "report"><i
                                            class="icon icon-clipboard"></i><span>Report a Book</span></a></li>

                                        <li><a href="{%url 'main:logout'%}"><i class="fa fa-close"></i><span>Logout</span></a></li>
                                    </ul>
                                </li>
                            </ul>
    
                            <div class="hamburger">
                                <span class="bar"></span>
                                <span class="bar"></span>
                                <span class="bar"></span>
                            </div>
    
                        </div>
                    </nav>
    
                </div>
    
            </div>
        </div>
    </header>
    
    </div><!--header-wrap-->
    </body>

    <!-- INI DARI TRAVELOGUE GW BELUM APA2in
     -->
    <script>
        $(document).ready(function (){
            const activePage = window.location.pathname;
            document.querySelectorAll('.nav-link').forEach(link => {
                link.classList.remove('active');
                
            })
            if (activePage == "/"){
                document.getElementById('home').classList.add('active');

            } else if(activePage.includes( "/forum/")){
                document.getElementById('forum').classList.add('active');
            } else if(activePage.includes( "/MyBooks/")){
                document.getElementById('MyBook').classList.add('active');
            } else if(activePage.includes( "/publish/")){
                document.getElementById('publish').classList.add('active');
            }  else if(activePage.includes( "/report/")){
                document.getElementById('report').classList.add('active');
            } else if(activePage.includes( "/bookdatabase")){
                document.getElementById('bookdatabase').classList.add('active');

            }
            
            
        })
        
    </script>




	<script src="/static/js/jquery-1.11.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist//static/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
	<script src="/static/js/plugins.js"></script>
	<script src="/static/js/script.js"></script>