<!--  Load static files -->
{% load static %}


<header id="header">
    <body>
        <div class="container-fluid  d-flex align-items-center">
            <div class="row flex-column flex-md-row">
    
                <div class="col-md-2 col-12 d-flex align-items-center justify-content-center">
                    <div class="main-logo d-flex justify-content-center">
                        <a href="/" id="logo"><img src="/static/images/logo-book-buffet.png" alt="logo"></a>
                    </div>
                </div>
                <div class="col-md-10 col-12 ">
    
                    <nav id="navbar">
                        <div class="main-menu stellarnav  ">
                            <ul class="menu-list">

                                <li class="menu-item"><a href="/" id="home">Home</a></li>
                                <li class="menu-item has-sub">
                                    <a id="publish" href="/publish/" class="nav-link">Publish a Book</a>
                                    <ul>
                                        <li><a href="/publish/">Publish a Book</a></li>
                                        <li><a href="/publish/my-publish">My Publish</a></li>
                                        <li><a href="/publish/verify-publish/">Verify Books<span class="badge bg-dark">Admin Only</span></a></li>
                                    </ul>
                                </li>

                                <li class="menu-item has-sub">
                                    <a id="forum" href="/forum/" class="nav-link">Forum</a>
                                    <ul>
                                        <li ><a href="/forum/">Forum</a></li>
                                        <li ><a href="/forum/mypost/">My Post</a></li>

                                    </ul>
    
                                </li>
                                <li id="MyBook" class="menu-item"><a href="/MyBooks/" class="nav-link" id = "MyBooks">My Books</a></li>
                                <li class="menu-item has-sub">
                                    <a href="#pages" class="nav-link"><i class="icon icon-user"></i></a>
                                    <ul>

                                        <li><a href="/report/" id = "report"><i
                                            class="icon icon-clipboard"></i><span>Report a Book</span></a></li>
                                            {% if user.is_staff %}
                                            <li><a href="/report/show_report/" id = "show_report"><i
                                                class="icon icon-clipboard"></i><span>Show Reports</span></a></li>
                                            {% endif %}

                                        <li><a href="{%url 'main:logout'%}"><i class="fa fa-close"></i><span>Logout</span></a></li>
                                    </ul>
                                </li>
                            </ul>
    
                            <div class="hamburger">
                                <span class="bar"></span>
                                <span class="bar"></span>
                                <span class="bar"></span>
                            </div>
    
                        </div>
                    </nav>
    
                </div>
    
            </div>
        </div>
    </header>
    
    </div><!--header-wrap-->
    </body>

    <!-- INI DARI TRAVELOGUE GW BELUM APA2in
     -->
    <script>
        $(document).ready(function (){
            const activePage = window.location.pathname;
            document.querySelectorAll('.nav-link').forEach(link => {
                link.classList.remove('active');
            })
            if (activePage == "/"){
                document.getElementById('home').classList.add('active');

            } else if(activePage.includes( "/forum/")){
                document.getElementById('forum').classList.add('active');
            } else if(activePage.includes( "/MyBooks/")){
                document.getElementById('MyBook').classList.add('active');
            } else if(activePage.includes( "/publish/")){
                document.getElementById('publish').classList.add('active');
            }  else if(activePage.includes( "/report/")){
                document.getElementById('report').classList.add('active');
            } else if(activePage.includes( "/bookdatabase")){
                document.getElementById('bookdatabase').classList.add('active');

            }
            

        })
        
    </script>




	<script src="/static/js/jquery-1.11.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist//static/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
	<script src="/static/js/plugins.js"></script>
	<script src="/static/js/script.js"></script>